{% load i18n %}

                <span onclick="bbcode('url');" style="text-decoration:underline">{% trans "Link" %}</span>                        
                [<b onclick="bbcode('color=#ff0000');" style="color:#ff0000">{% trans "This colour" %}</b>]
                [<b onclick="bbcode('color=#00be1f');" style="color:#00be1f">{% trans "This colour" %}</b>]
                [<b onclick="bbcode('color=#5d7ae5');" style="color:#5d7ae5">{% trans "This colour" %}</b>]
                [<b onclick="bbcode('b');">{% trans "Bold" %}</b>]
                [<i onclick="bbcode('i');">{% trans "Italic" %}</i>]
                [<u onclick="bbcode('u');">{% trans "Underline" %}</u>]
                [<s onclick="bbcode('s');">{% trans "Stroke" %}</s>]              
                <br />            
                <img src="{{ MEDIA_URL }}/gbook/smiles/aaaa.gif" onclick="smile('aaaa');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/good.gif" onclick="smile('good');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/wink.gif" onclick="smile('wink');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/bubble.gif" onclick="smile('bubble');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/angel.gif" onclick="smile('angel');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/gigi.gif" onclick="smile('gigi');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/kissmebaby.gif" onclick="smile('kissmebaby');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/emo.gif" onclick="smile('emo');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/heart.gif" onclick="smile('heart');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/hate.gif" onclick="smile('hate');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/haughty.gif" onclick="smile('haughty');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/applauds.gif" onclick="smile('applauds');"> 
                <img src="{{ MEDIA_URL }}/gbook/smiles/kissgirl.gif" onclick="smile('kissgirl');"> 
                <img src="{{ MEDIA_URL }}/gbook/smiles/take-a-rose.gif" onclick="smile('vozmirozu');">   
                <img src="{{ MEDIA_URL }}/gbook/smiles/cool.gif" onclick="smile('cool');">   
                <img src="{{ MEDIA_URL }}/gbook/smiles/accordion.gif" onclick="smile('accordion');"> 
                <img src="{{ MEDIA_URL }}/gbook/smiles/wakeup.gif" onclick="smile('wakeup');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/birthday.gif" onclick="smile('birthday');"> 
                <img src="{{ MEDIA_URL }}/gbook/smiles/aaaaa.gif" onclick="smile('aaaaa');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/drink2.gif" onclick="smile('drink2');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/drink3.gif" onclick="smile('drink3');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/bluff.gif" onclick="smile('bluff');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/byebye.gif" onclick="smile('byebye');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/killyourself.gif" onclick="smile('killyourself');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/dance.gif" onclick="smile('dance');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/devil.gif" onclick="smile('devil');">   
                <img src="{{ MEDIA_URL }}/gbook/smiles/disco.gif" onclick="smile('disco');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/tease.gif" onclick="smile('tease');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/emo.gif" onclick="smile('emo');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/evil.gif" onclick="smile('evil');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/gandja.gif" onclick="smile('gandja');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/girlcry.gif" onclick="smile('girlcry');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/gnas.gif" onclick="smile('gnas');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/gnas2.gif" onclick="smile('gnas2');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/gbo.gif" onclick="smile('gbo');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/haha.gif" onclick="smile('haha');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/holiday.gif" onclick="smile('holiday');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/go-out.gif" onclick="smile('go-out');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/inlove.gif" onclick="smile('inlove');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/inlove2.gif" onclick="smile('inlove2');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/koncert.gif" onclick="smile('koncert');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/listen.gif" onclick="smile('listen');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/magic.gif" onclick="smile('magic');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/on-horse.gif" onclick="smile('on-horse');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/reglament.gif" onclick="smile('reglament');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/drink.gif" onclick="smile('drink');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/sex.gif" onclick="smile('sex');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/shoot.gif" onclick="smile('shoot');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/not-me.gif" onclick="smile('not-me');">
                <img src="{{ MEDIA_URL }}/gbook/smiles/zig.gif" onclick="smile('zig');">