Настройка CentOS5 под данный проект с "нуля".

Предположим, что у нас есть только купленный VPS/VDS с чистой СentOS5 и доступ с правами root.
Выделенный ip адрес 91.218.231.36

Соединяемся с нашим шеллом (я рекомендую Putty для выполнения консольных команд) и приступим.

1) Обновляем систему
$  yum upgrade # обновляем систему в целом (около ~15 минут)

2) Устанавливаем дополнительные репозитарии http://feo-klunker.blogspot.com/2011/04/web-centos.html
$  wget http://download.fedora.redhat.com/pub/epel/5/i386/epel-release-5-4.noarch.rpm 
$  wget http://rpms.famillecollet.com/enterprise/remi-release-5.rpm
rpm -Uvh remi-release-5*.rpm epel-release-5*.rpm
/bin/rm epel-release-5-4.noarch.rpm remi-release-5.rpm 

3) Установка сервера Nginx 
$  yum install nginx # устанавливаем nginx  
$  service nginx start # запускаем nginx
$  chkconfig nginx on # добавляем в автозапуск  
в браузере набираем 91.218.231.36, видим приветствие nginx 

4) Настраиваем ftp доступ
Для работы с FTP настоятельно рекомендую программу WinSCP http://winscp.net
Сначала установим FTP сервер vsftpd (Very Secure FTP daemon)
$  yum install vsftpd # устанавливаем vsftpd 
$  chkconfig vsftpd on # добавляем в автозапуск 
$  service vsftpd start # запускаем 

Добавляем пользователя для работы с FTP.
В нашем случае это будет tim, чтобы не менять значения переменных django STATIC_ROOT, TEMPLATE_DIRS и т.д.
$  useradd tim # добавляем пользователя tim
$  passwd tim # задаем пароль
Проверяем соединение по FTP 

5) На данном этапе проверим, что у нас получилось:
netstat -tupln # список активных портов 
chkconfig --list # cписок автозагрузки

6) Устанавливаем MySQL
$  yum install mysql 
$  yum install mysql-server # устанавливаем MySQL
$  yum install mysql-devel # устанавливаем MySQL Development Tools, они потребуются для MySQL-python

Находим файл /etc/my.cnf и заменяем его содержимое 

# содержимое файла /etc/my.cnf 
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
default-storage-engine=InnoDB
init_connect='SET collation_connection = utf8_general_ci' 
init_connect='SET NAMES utf8' 
default-character-set=utf8 
character-set-server = utf8 
collation-server = utf8_general_ci
symbolic-links=0

[mysqldump]
default-character-set=utf8 

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
# конец содержимое файла /etc/my.cnf

$  service mysqld start # запускаем MySQL сервер
$  chkconfig mysqld on # добавляем в автозапуск
$  /usr/bin/mysqladmin -u root password 'Password'  # задаем пароль для root пользователя базы 
Затем переходим к созданию необходимой базы данных и пользователя:
$  mysql -u root -p
mysql> CREATE DATABASE djbook;
mysql> USE  djbook;
mysql> GRANT ALL PRIVILEGES ON *.* TO user@"%"  IDENTIFIED BY '123456' WITH GRANT OPTION;
mysql> GRANT ALL PRIVILEGES ON *.* TO user@"localhost"  IDENTIFIED BY '123456' WITH GRANT OPTION; # коннект для пользователя user разрешен из любого места.
mysql> FLUSH PRIVILEGES;
mysql> \q
Теперь вы можете соединиться с MySQL базой djbook по адресу 91.218.231.36 порт:3306
c учетной записью user и паролем 123456.
Для работы с MySQL базами используйте MySQL Front http://www.mysqlfront.de/wp/

7) Настраиваем Python
$  yum upgrade python # если необходимо
$  yum install python-devel
$  yum install python-setuptools
$  yum install gcc
$  yum install python-imaging
Ставим PIL
$  yum install zlib zlib-devel
$  yum install libjpeg libjpeg-devel
$  yum install freetype freetype-devel
$  yum install libpng libpng-devel
$  wget http://effbot.org/downloads/Imaging-1.1.7.tar.gz
$  tar xvfz Imaging-1.1.7.tar.gz
$  cd Imaging-1.1.7
$  python setup.py build_ext -i
$  python setup.py install
Cтавим Django
$  easy_install django==1.3
Cтавим MySQL-Python
$  easy_install MySQL-python (требует yum install mysql-devel)
Cтавим Captcha
$  easy_install django-simple-captcha
Cтавим Pagination
&  easy_install django-pagination

8) Копируем наш проект по адресу
91.218.231.36/home/tim/djbook/
Создаем папку  91.218.231.36/home/tim/.python-eggs/
на папки /home/tim/djbook/media/ и 91.218.231.36/home/tim/.python-eggs/ ставим права 777 
(c выставленной галочкой Set group, owner and permissions recursively)
Так же не забудьте выставить Owner для пользователя tim, если копируете файлы с учетной записью root
по SSH протоколу при помощи WinSCP.
 
$ cd /home/tim/djbook # переходим в папку с проектом

Проверяем файл settings.py 
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',  # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'djbook',                      # Or path to database file if using sqlite3.
        'USER': 'user',                        # Not used with sqlite3.
        'PASSWORD': '123456',                  # Not used with sqlite3.
        'HOST': '',                            # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                            # Set to empty string for default. Not used with sqlite3.
    }
}

$  python manage.py syncdb # синхронизируем базы

На этом настройку сервера можно считать законченной.



# Запуск проекта в режиме разработки #

Находим файл nginx.conf по адресу /etc/nginx/, все содержимое заменяем на

######### начало файла nginx.conf #########

user              root;
worker_processes  1;

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;

pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;
    
    #
    # The default server
    #
    server {
        listen       80;
        server_name  _;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        #location / {
         #   root   /usr/share/nginx/html;
          #  index  index.html index.htm;

        #}

        location / {
            #proxy_pass http://127.0.0.1:81/; # apache
            proxy_pass http://127.0.0.1:8005/; # django dev
            alias /home/tim/djbook;
            proxy_redirect off;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /static_admin {
            alias /usr/lib/python2.4/site-packages/django/contrib/admin/media;
            #autoindex on;
            access_log off;
        }


        location /static {
            alias /home/tim/djbook/static;
            #autoindex on;
            access_log off;
        }


        location /media {
            alias /home/tim/djbook/media;
            #autoindex on;
            access_log off;
        }        

        error_page  404              /404.html;
        location = /404.html {
            root   /usr/share/nginx/html;
        }

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }
    }

    # Load config files from the /etc/nginx/conf.d directory
    include /etc/nginx/conf.d/*.conf; #

}

# конец файла nginx.conf #

&  service nginx restart # перегружаем nginx 

Далее
$   cd /home/tim/djbook
$   python manage.py runserver 8005

По адресу 91.218.231.36/djbook запущен наш проект в режиме разработки.


# Запуск проекта в боевом режиме (и переключение между режимами)

Останавливаем Nginx
$   service nginx stop

Устанавливаем Apache сервер 
$   yum install httpd
Устанавливаем mod_wsgi
$   yum install mod_wsgi # 
В папке /usr/lib/httpd/modules появляется mod_wsgi.so,
Правим файл если необходимо /etc/httpd/conf/httpd.conf,
в нем должна быть следующая строчка
LoadModule wsgi_module modules/mod_wsgi.so

Далее в конец httpd.conf добавляем виртуальный хост, 
Listen 81

WSGIScriptAlias / /home/tim/djbook/django.wsgi

&ltDirectory /home/tim/djbook&gt
	Order allow,deny
	Allow from all
&lt/Directory&gt 

&ltDirectory /home/tim/.python-eggs &gt
	Order allow,deny
	Allow from all
&lt/Directory&gt

Далее 
$   cd /home
$   chmod 755 tim
$   cd /home/tim/djbook
$   python manage.py syncdb

$   service httpd start
$   service nginx start

81 порт слушает Apache.
8005 порт слушает django dev сервер когда выполнена команда (python manage.py runserver 8005 из корневой директории проекта)

Переключение между режимами осуществляется в файле nginx.conf (см. выше)

django dev:
#proxy_pass http://127.0.0.1:81/; # apache
proxy_pass http://127.0.0.1:8005/; # django dev
$   service nginx restart

боевой:
proxy_pass http://127.0.0.1:81/; # apache
#proxy_pass http://127.0.0.1:8005/; # django dev
$   service nginx restart



