{% extends 'gbook/base.html' %}

{% block content %}
{% load i18n %}

<div class="auth_user">
{% include "gbook/_menu.html" %}
</div>

<table class="etc-table">
    <thead>
        <tr>
            <td>
            {% if pass_change_message %}
               {{ pass_change_message }}
            {% else %}
                {% trans "Change password" %}
            {% endif %}   
            </td>            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>
            </td>           
        </tr>
    </tfoot>                
    <tbody> 
      <tr>
        <td id="main-content">
          <form action="" method="post">   
          {% csrf_token %}
            <table>
              <tr>
                <td valign="top"><label for="id_user">{% trans "Current password" %}:</label>{{ form.password }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.password.errors }} 
                    {% endautoescape %}  
                </td>
              </tr> 
              <tr>
                <td colspan=2>
                 <div style="width:155px;height:8px;background-color:#58b9eb;"></div>
                </td>
              </tr>            
              <tr>
                <td valign="top"><label for="id_password">{% trans "New password" %}:</label>{{ form.password_new }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.password_new.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>
              <tr>
                <td valign="top"><label for="id_email">{% trans "Repeat new password" %}:</label>{{ form.password_confirm }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.password_confirm.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>  
            </table>                                           
            <br>        
            <input type="submit" id="submit" value="{% trans "Submit" %}"> 
            <br><br>                                  
          </form>
        </td>  
      </tr>
    </tbody>    
</table>

{% endblock %}


