{% extends 'gbook/base.html' %}

{% block content %}
{% load i18n %}

<div class="auth_user">
    <a href="{% url gbook_view %}"/><img src="{{ MEDIA_URL }}/gbook/img/logotip.png" id="logotip" style="border:0px"></a>  
    <br>
</div>

<table class="etc-table">
    <thead>
        <tr>
            <td>{% trans "Registration" %}
            </td>            
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>
            </td>           
        </tr>
    </tfoot>                
    <tbody> 
      <tr>
        <td id="main-content">
          <form action="" method="post">   
          {% csrf_token %}

            <table>
              <tr>
                <td valign="top"><label for="id_user">{% trans "Login" %}:</label>{{ form.user }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.user.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>
              <tr>
                <td valign="top"><label for="id_password">{% trans "Password" %}:</label>{{ form.password }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.password.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>
              <tr>
                <td valign="top"><label for="id_email">email:</label>{{ form.email }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.email.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>  
              <tr>
                <td valign="top"><label for="id_captcha_1">{% trans "Captcha" %}:</label>{{ form.captcha }}</td>
                <td valign="center">           
                    {% autoescape off %} 
                    {{ form.captcha.errors }} 
                    {% endautoescape %}  
                </td>
              </tr>
            </table>                                           
            <br>        
            <input type="submit" id="submit" value="{% trans "Submit" %}"> 
            <br><br>                                  
          </form>
        </td>  
      </tr>
    </tbody>    
</table>

{% endblock %}

